<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stream Link</title>
    <style>body{background:#000; color:#0f0; font-family:monospace; padding:50px; text-align:center;}</style>
</head>
<body>
    <h1>ACCESS GRANTED</h1>
    <p>Copy link ini ke dalam IDM / 1DM / VLC:</p>
    <div style="background:#111; padding:20px; border:1px solid #0f0; word-wrap: break-word;">
        {{ link }}
    </div>
    <br>
    <a href="{{ link }}" style="color:white;">[ CLICK TO PLAY DIRECTLY ]</a>
</body>
</html>
